@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your school system </h1>
    <br />
    <br />
   
                <img src="https://www.ngenespanol.com/wp-content/uploads/2018/08/En-este-pa%C3%ADs-proh%C3%ADben-ense%C3%B1ar-ingl%C3%A9s-en-todas-las-escuelas.jpg" class="d-block w-100" alt="...">
           
</div>
